.dashHead{
    color:floralwhite
}
.dashboard{
    height:100vh;
    padding: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.butt{
    height: max-content;
    padding:10px 16px;
    background-color: rgb(87, 73, 179);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:white
}
.content{
    display: flex;
    justify-content: space-between;
}